
.cardProfil {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    max-height: 400px;
    margin: auto;
    padding: '20px';
    text-align: center;
    font-family: arial;
    background-color:rgba(97, 100, 145, 0.603);
    color: rgb(0, 0, 0);
  }
  .card{
    width: '18rem';
    padding: '20px';
    background-color: 'rgb(246,246,246)';
    border: 'none';
    margin: '15px';
   
    
  }
  .title {
    color: grey;
    font-size: 30px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  /* button:hover, a:hover {
      background-color: white;
      color: black;
    opacity: 0.8;
  } */
  
.cardProfile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    max-height: 400px;
    margin: auto;
    padding: '20px';
    text-align: center;
    font-family: arial;
    background-color:rgba(161, 137, 177, 0.8);
    color: rgb(0, 0, 0);
  }
  .card{
    width: '18rem';
    padding: '20px';
    background-color: 'rgb(246,246,246)';
    border: 'none';
    margin: '15px';
   
    
  }
  .title {
    color: grey;
    font-size: 30px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  /* button:hover, a:hover {
      background-color: white;
      color: black;
    opacity: 0.8;
  } */
  